# Node.js App Config
PORT=3000
NODE_ENV=development

# PostgreSQL Config
DB_HOST=postgres_db
DB_PORT=5432
DB_USER=vnu_admin
DB_PASSWORD=vnu_secret_2026
DB_NAME=vnu_living_db

# Auth & Security
JWT_SECRET=vnu_jwt_secret_key_phase1
ALLOWED_EMAIL_DOMAIN=vnu.edu.vn
